<!DOCTYPE html>
<html>
  <head>
    <title>the5fire-Backbone Demo: todos</title>
    <link href="/site_media/todo/css/todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="/site_media/todo/js/jquery-1.7.1.js"></script>
    <script src="/site_media/todo/js/underscore-1.3.1.js"></script>
    <script src="/site_media/todo/js/backbone.js"></script>
    <script src="/site_media/todo/js/todos.js"></script>
  </head>
  <body>
    <div id="todoapp">
      <div class="title">
        <h1>Todos</h1>
      </div>
      <div class="content">
        <div id="create-todo">
          <input id="new-todo" placeholder="What needs to be done?" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>
        <div id="todos">
          <input class="check mark-all-done" type="checkbox"/>
          <label for="check-all">标记全部</label>
          <ul id="todo-list"></ul>
        </div>
        <div id="todo-stats"></div>
      </div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="item-template">
      <div class="todo <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <label class="todo-content"><%= content %></label>
          <span class="todo-destroy"></span>
        </div>
        <div class="edit">
          <input class="todo-input" type="text" value="<%= content %>" />
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word">条任务</span> 未完成.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="todo-clear">
          <a href="#">
            清除 <span class="number-done"><%= done %></span>
            条已完成的 <span class="word-done">任务</span>
          </a>
        </span>
      <% } %>
    </script>

  </body>
</html>